<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="BotId" value="HelloSG" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MicrosoftAppId" value="6af363b7-f21b-48ac-887a-bf2964c3482e" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MicrosoftAppPassword" value="yCqV7s4ubMP9Krajz7FAQm2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DatagovsgKey" value="gdetp7Q4khKPPwGGCWYJSqaT0ammj1ZK" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LUISServiceURL" value="https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/b1af7a0b-9c46-4bd4-b7ef-b8800ef55385?subscription-key=4a3eaf886fd94a01a40abeef83be995c&amp;staging=true&amp;verbose=true&amp;timezoneOffset=0&amp;q=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WeatherServiceURL" value="https://api.data.gov.sg/v1/environment/24-hour-weather-forecast?" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  
  
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>